packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
terraform/yandex_init.tf
/terraform/.terraform.lock.hcl
/.idea/iskander-zhienaliev_infra.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
*.retry
jdauphant.nginx
vault.key
# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
