cloud_id = "b1gmc8f8nq3234h411ak"
folder_id = "b1g2n83h3fc4at5enl0s"
zone = "ru-central1-b"
image_id = "fd87hbuc38ra8nc0ttg6"
public_key_path = "~/.ssh/id_ed25519.pub"
subnet_id = "e2lfga8l1dad1i671ngc"
private_key_path = "~/.ssh/id_ed25519"
service_account_key_file = "key.json"
